.Assuritysection {
    padding: 50px;
    width: calc(100% - 40px); 
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(219, 245, 247);
    margin: 20px;
    box-sizing: border-box; 
    border-radius: 8px;
}

.assurity-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align:left; 
}


.block {
    width: 300px;
    height: 80px;
    padding: 20px;
    background: linear-gradient(to bottom, rgb(100, 170, 180), rgb(79, 137, 144));
    border-radius: 8px;
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.5); 
    position: relative;
    overflow: hidden; 
  
    justify-content: center;
    
}

.ex {
    font-size: 1.5rem;
}

.learn_more {
    color: rgb(168, 235, 245);
    text-decoration: underline;
    cursor: pointer;
}

.learn_more:hover {
    text-decoration: none;
}
