.bestsellers-container {
    margin: 20px auto;
    padding: 10px;
    max-width: 1800px;
    width: 100%;
    position: relative; 
    overflow-x: hidden; 
    
   
  }
  
  .books-scroll {
    display: flex;
    gap: 50px;
    overflow-x: auto; 
    padding: 10px;
    scroll-behavior: smooth; 
    width: 80%;
    margin-left: 150px;
  
  
  }
  
  .books-scroll::-webkit-scrollbar {
    display: none; 
  }
  
  .books-card {
    flex: 0 0 auto;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
  }
  
  .books-card:hover {
    transform: scale(1.05);
  }
  
  .books-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .books-title {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0 5px;
  }
  
  .books-author {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  
  .books-rating {
    font-size: 24px;
    color: #f39c12;
    margin-bottom: 10px;
  }
  
  .bestsellers-heading {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    color:rgb(249, 212, 61);
    border: none;
   font-weight: bolder;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10; 
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  
  .carousel-arrow:hover {
    transform: scale(1.1) translateY(-50%);
    background-color: #d88909;
  }
  
  .left-arrow {
    left: 80px; 
  }
  
  .right-arrow {
    right: 60px; 
  }
  